.play{

    width: 100%;

    position: relative;
    margin-top: 3.125rem;

    display: flex;
    flex-direction: column;

    .pentagon{
        position: absolute;
        align-self: center;
        margin-top: 4.375rem;
    }
    .items{
        display: flex;
        flex-direction: column;
    }
    .items1{
        margin: 0rem 38rem 4rem 29rem;
        // display: flex;
        justify-content: space-between;

    }
    .items3{
        margin: 0px 38rem 6rem 29rem;
        // display: flex;
        justify-content: space-between;   
    }
    .items2{
        margin: 0rem 38rem 4rem 29rem;
        // display: flex;
        justify-content: space-between;

        .icon{
            height: 160px;
            width: 160px;
            border: 18px solid;
            border-radius: 50%;
            transition: transform .2s;

            &--paper{
                @include icon($imageP,$paper-gradient);
                transform: translateX(1.5rem);
                
                &:hover{
                transform: translateX(1.5rem) scale(1.1);

                }

            }
            &--scissors{
                @include icon($imageS,$scissors-gradient);
                transform: translateX(8rem);

                &:hover{
                    transform: translateX(8rem) scale(1.1);


                }
            }
            &--rock{
                @include icon($imageR,$rock-gradient);
                transform: translateX(-10rem) translateY(13rem);
            

                &:hover{
                    transform: translateX(-10rem) translateY(13rem) scale(1.1);

                }
            
            }
            &--lizard{
                @include icon($imageL,$lizard-gradient);
                transform: translateX(-10rem) translateY(13rem);
                &:hover{
                    transform: translateX(-10rem) translateY(13rem) scale(1.1);

                }
 
            }
            &--spock{
                @include icon($imageSP,$spock-gradient);
                transform: translateX(-12rem) translateY(13rem);
                &:hover{
                    transform: translateX(-12rem) translateY(14rem) scale(1.1);

                }
 
            }
        }
    }
}